@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Quicksand:wght@400;600&display=swap');
@import url("../app/styles/header.css");
@import url("../app/styles/section.css");
@import url("../app/styles/preparo.css");
@import url("../app/styles/depoimento.css");
@import url("../app/styles/cardapio.css");
@import url("../app/styles/contato.css");
@import url("../app/styles/footer.css");




h1, h2, h3,p {
  font-family: 'Cormorant Garamond', serif;
}

body, p, button {
  font-family: 'Quicksand', sans-serif;
}




* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #fffaf4;
  color: #3e2e1e;
  line-height: 1.6;
}